{% if generated_passwords is not empty %}
    <div class="card bg-light mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-group list-group-flush">
                        {% for item in generated_passwords|slice(0, generated_passwords|length//2) %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div class="text-wrap">
                                    <span>{{ item.password }}</span><br>
                                    <span class="badge {{ item.class }} text-wrap">
                                        Entropie: {{ item.entropy }} bits
                                    </span>
                                </div>
                                <button class="btn btn-outline-secondary btn-sm copy-btn" data-password="{{ item.password }}">
                                    <i class="fas fa-copy"></i>
                                </button>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="list-group list-group-flush">
                        {% for item in generated_passwords|slice(generated_passwords|length//2) %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div class="text-wrap">
                                    <span>{{ item.password }}</span><br>
                                    <span class="badge {{ item.class }} text-wrap">
                                        Entropie: {{ item.entropy }} bits
                                    </span>
                                </div>
                                <button class="btn btn-outline-secondary btn-sm copy-btn" data-password="{{ item.password }}">
                                    <i class="fas fa-copy"></i>
                                </button>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endif %}