{% if generated_passwords is not empty %}
    <div class="card bg-light mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-group list-group-flush">
                        {% for item in generated_passwords|slice(0, generated_passwords|length//2) %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div>
                                    <span>{{ item.password }}</span><br>
                                    <span class="badge {{ item.class }}">
                                        Entropie: {{ item.entropy }} bits
                                    </span>
                                </div>
                                <button class="btn btn-outline-secondary btn-sm copy-btn" data-password="{{ item.password }}">
                                    <i class="fas fa-copy"></i>
                                </button>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="list-group list-group-flush">
                        {% for item in generated_passwords|slice(generated_passwords|length//2) %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div>
                                    <span>{{ item.password }}</span><br>
                                    <span class="badge {{ item.class }}">
                                        Entropie: {{ item.entropy }} bits
                                    </span>
                                </div>
                                <button class="btn btn-outline-secondary btn-sm copy-btn" data-password="{{ item.password }}">
                                    <i class="fas fa-copy"></i>
                                </button>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>


    {% block styles %}
 <style>
    .very-weak {
        background-color: #4a4a4a; /* Gris très foncé pour très faible */
        color: white;
    }

    .weak {
        background-color: #e74c3c; /* Rouge vif pour faible */
        color: white;
    }

    .medium {
        background-color: #f1c40f; /* Jaune saturé pour moyen */
        color: white;
    }

    .good {
        background-color: #2980b9; /* Bleu foncé pour bon */
        color: white;
    }

    .strong {
        background-color: #2ecc71; /* Vert clair pour fort */
        color: white;
    }

    .very-strong {
        background-color: #1e8449; /* Vert foncé pour très fort */
        color: white;
    }
</style>

    {% endblock %}




{% endif %}
