<!DOCTYPE html>
<html lang="fr">
    <head>
        <!-- Meta Tags pour le SEO -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Passphrase - Générateur de phrases de passe sécurisées. Protégez vos comptes avec des mots de passe uniques et robustes.">
        <meta name="keywords" content="passphrase, générateur de mot de passe, sécurité, entropie, mot de passe sécurisé, open source">
        <meta name="robots" content="index, follow">
        <meta name="author" content="Alexandre Monchain">        
        <!-- Open Graph meta tags (pour les réseaux sociaux) -->
        <meta property="og:title" content="Passphrase - Générateur de phrases de passe sécurisées">
        <meta property="og:description" content="Générez facilement des phrases de passe sécurisées. Un outil open source pour améliorer la sécurité de vos comptes.">
        <meta property="og:image" content="{{ asset('images/passphrase-thumbnail.png') }}">
        <meta property="og:url" content="{{ app.request.uri }}">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="Passphrase">
        <!-- Twitter Card meta tags (pour les partages sur Twitter) -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Passphrase - Générateur de phrases de passe sécurisées">
        <meta name="twitter:description" content="Améliorez la sécurité de vos comptes avec des phrases de passe uniques. Un outil open source.">
        <meta name="twitter:image" content="{{ asset('images/passphrase-thumbnail.png') }}">
        <!-- Favicon -->
        <link rel="icon" href="{{ asset('assets/favicon.ico') }}" type="image/x-icon">
        <!-- Google tag (gtag.js) -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=G-NYVGX0VQJ8"></script>
            <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-NYVGX0VQJ8');
            </script>
        <!-- END Google tag (gtag.js) -->        
        <title>{% block title %}Passphrase{% endblock %}</title>        
        <link defer rel="stylesheet" href="{{ asset('assets/bootstrap.min.css') }}">
        <link defer rel="stylesheet" href="{{ asset('assets/app.css') }}">
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="{{ path('app_home') }}">Passphrase</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_home') }}">Accueil</a>
                        </li>
                        <!-- Menu déroulant pour le Blog -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Blog
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownBlog">
                                <!-- Liens vers les articles -->
                                <a class="dropdown-item" href="{{ path('blog_show', { 'slug': 'entropie' }) }}">Qu'est ce que l'entropie ?</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <!-- Contenu principal -->
        {% block body %}{% endblock %}
    </body>
    <footer class="bg-light text-center text-lg-start mt-4">
        <div class="container p-4">
            <div class="row">
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <p class="text-center">
                       Passphrase v1.1 © 2024 Alexandre MONCHAIN. Sous licence <a href="https://github.com/AlexandreMonchain/Passphrase/blob/main/LICENSE" target="_blank">MIT</a>.
                    </p>
                </div>
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <p class="text-center">
                        <a href="https://github.com/AlexandreMonchain/Passphrase" target="_blank" class="text-dark">
                            <i class="fab fa-github"></i> Un problème, une suggestion ? Visitez mon GitHub
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <link defer rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <script defer src={{ asset('assets/jquery-3.6.0.min.js') }}></script>
        <script defer src={{ asset('assets/app.js') }}></script>
        <script defer src={{ asset('assets/bootstrap.min.js') }}></script>
        {% block script %}{% endblock %}
    </footer>
</html>
